<link rel="stylesheet" href="/stylesheets/nav.css">


<nav>
    <img src="/images/homepage/logo.png" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Register">Register Book</a></li>
        <li><a href="/show">Books</a></li>
        <li><a href="/About">About</a></li>
    </ul>

    <div class="social_icon">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-heart"></i>
    </div>
</nav>