<%- include("partials/header.ejs")%>

<%- include("partials/nav.ejs")%>
<link rel="stylesheet" href="/stylesheets/style1.css">
<!--Services-->


<div class="about">

    <div class="about_image">
        <img src="images/homepage/about.png">
    </div>
    <div class="about_tag">
        <h1>About Us</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae cumque atque dolor corporis 
            architecto. Voluptate expedita molestias maxime officia natus consectetur dolor quisquam illo? 
            Quis illum nostrum perspiciatis laboriosam perferendis? Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Minus ad eius saepe architecto aperiam laboriosam voluptas nobis voluptates 
            id amet eos repellat corrupti harum consectetur, dolorum dolore blanditiis quam quo.
        </p>
        <a href="/" class="about_btn">Learn More</a>
    </div>

</div>
<!-- <div class="services">

    <div class="services_box">

        <div class="services_card">
            <i class="fa-solid fa-truck-fast"></i>
            <h3>Fast Delivery</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            </p>
        </div>

        <div class="services_card">
            <i class="fa-solid fa-headset"></i>
            <h3>24 x 7 Services</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            </p>
        </div>

        <div class="services_card">
            <i class="fa-solid fa-tag"></i>
            <h3>Best Deal</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            </p>
        </div>

        <div class="services_card">
            <i class="fa-solid fa-lock"></i>
            <h3>Secure Payment</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            </p>
        </div>

    </div>

</div> -->

<%- include("partials/footer.ejs")%>