<%- include("partials/header.ejs")%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%- include("partials/nav.ejs")%>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/style1.css">
<div class="main">

    <div class="main_tag">
        <h1>WELCOME TO<br><span>YOUR LIBARY</span></h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias atque laborum 
            non fuga ex deserunt. Exercitationem velit ducimus praesentium, obcaecati hic voluptate id 
            tenetur fuga illum quidem omnis? Rerum?
        </p>
        <a href="/Register" class="main_btn">Register book</a>
        <!-- <a href="/buynow" class="main_btn">Buy Now</a> -->


    </div>

    <div class="main_img">
        <img src="/images/homepage/table.png">
    </div>

</div>
<!--Footer-->

<footer>
    <div class="footer_main">

        <div class="tag">
            <img src="image/logo.png">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quaerat ipsa aspernatur ad 
                sequi, dolore eveniet vitae quasi. Excepturi ipsa odio impedit sequi at hic velit, minus 
                vero sint. Voluptas?
            </p>

        </div>

        <div class="tag">
            <h1>Quick Link</h1>
            <a href="/">Home</a>
            <a href="/About">About</a>
            <a href="/Register">Register Book</a>
            <a href="/show">Books</a>
            
        </div>

        <div class="tag">
            <h1>Contact Info</h1>
            <a href="#"><i class="fa-solid fa-phone"></i>+94 12 345 6789</a>
            <a href="#"><i class="fa-solid fa-phone"></i>+94 32 444 699</a>
            <a href="#"><i class="fa-solid fa-envelope"></i>bookstore123@gmail.com</a>
            
        </div>

        <div class="tag">
            <h1>Follow Us</h1>
            <div class="social_link">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            
        </div>

        <div class="tag">
            <h1>Newsletter</h1>
            <div class="search_bar">
                <input type="text" placeholder="You email id here">
                <button type="submit">Subscribe</button>
            </div>                
        </div>            
        
    </div>

    <p class="end">Design By<span><i class="fa-solid fa-face-grin"></i>SONALI SAHU</span></p>

</footer>

<%- include("partials/footer.ejs")%>